node_modules/
package-lock.json
src/firebase.js
.env

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

#agent code
agent/claude-prompts

# deployment
.vercel/

# examples
example.jpg